﻿@model IEnumerable<ToDoList.Models.Tasks.Task>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>To Do List</title>
</head>
<body>
<a asp-controller="Home" asp-action="Index">Back</a>
<div>
    <h3>Your Tasks:</h3>

    @foreach (var t in Model)
    {
        <p>
            @await Html.PartialAsync("EditTask", t)
                    <form asp-controller="Tasks" asp-action="DeleteTask" asp-route-id="@t.Id">
                        <input type="submit" value="Delete">
                    </form>      
        </p>
        
    }
    @await Html.PartialAsync("AddTask")
</div>
</body>
</html>