﻿@model ToDoList.Models.Tasks.Task

@using (Html.BeginForm("EditTask", "Tasks", FormMethod.Post))
{
    @Html.HiddenFor(t => t.Id)
    @Html.HiddenFor(t => t.TaskListId)
    @Html.EditorFor(t => t.IsCompleted)
    @Html.EditorFor(t => t.Description)
    <p>
        <input type="submit" value="Update"/>
    </p>
}