﻿@model IEnumerable<ToDoList.Models.Tasks.Task>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Something list</title>
</head>
<body>
<a asp-controller="TaskLists" asp-action="GetTaskLists">Back</a>
<div>
    
        @foreach (var t in Model)
        {
            <p>
                @await Html.PartialAsync("EditTask", t)//delete copy edit task?
                <form asp-controller="Tasks" asp-action="DeleteTask" asp-route-id="@t.Id">
                    <input type="submit" value="Delete">
                </form>      
            </p>
            
        }

    <form asp-controller="Tasks" asp-action="AddTaskInCurrentList" asp-route-listId="6">
        <input type="text" name="Description">
        <input type="submit" value="Save">
    </form>
</div>
</body>
</html>