﻿@model IEnumerable<ToDoList.Models.TaskLists.TaskList>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>To Do List</title>
</head>
<body>
<a asp-controller="Home" asp-action="Index">Back</a>
<div>
    <h3>Your Lists:</h3>
    <table>
        @foreach (var list in Model)
        {
            <tr>
                <td>
                    <p>
                        <a asp-controller="TaskLists" asp-action="GetTasksByListId" asp-route-id="@list.Id">@list.Name</a>
                    </p>
                </td>
                <td>
                    <form asp-controller="TaskLists" asp-action="DeleteList" asp-route-id="@list.Id">
                        <input type="submit" value="Delete">
                    </form>
                </td>
                @* <td><form method="post" action="/Home/DeleteTask"> *@
                @*     <input type="submit" value="Delete"> *@
                @* </form></td> *@
                @* <td><p><a href="/Home/Buy/@b.Id">Купить</a></p></td> *@
            </tr>
        }
    </table>
    @await Html.PartialAsync("AddTaskList")
</div>
</body>
</html>