﻿@model IEnumerable<ToDoList.Models.Tasks.Task>
@{
    Layout = null;
}
 
<!DOCTYPE html>
 
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>To Do List</title>
</head>
<body>
<a href="/Tasks/GetTasks">All tasks</a><br>
<a href="/TaskLists/GetTaskLists">All lists</a>
</body>
</html>